dist/
cache/
out/
node_modules/
scratchpad/

#Hardhat files
cache_hardhat/
artifacts/
src/types

.vscode/
#Hardhat plugin files
typechain-types/

.env
.DS_Store

.gas-snapshot/
scripts/deploy/gasEstimate.ts

# coverage
lcov.info
