cache/
out/
node_modules/
scratchpad/

scripts/scratchpad/
#Hardhat files
cache_hardhat/
artifacts/
src/types

.vscode/
#Hardhat plugin files
typechain-types/

.env
.DS_Store

.gas-snapshot/
scripts/deploy/gasEstimate.ts

# coverage
lcov.info

dev_switchboards.json
prod_switchboards.json
switchboards.json

devRpcConfig.ts
devRpcConfig.json
prodRpcConfig.ts
prodRpcConfig.json