lib
artifacts
cache
cache_hardhat

dist
node_modules
out
typechain-types

.DS_Store
.env
.env.example
.gas-snapshot
.gitignore
.gitmodules
.prettierignore
deploy.sh
foundry.toml
LICENSE
remappings.txt
yarn.lock
.github/*
.prettierrc
