name: Tests

on: pull_request

env:
  FOUNDRY_PROFILE: prod
  OPTIMISM_GOERLI_RPC: ${{ secrets.OPTIMISM_GOERLI_RPC }}
  GOERLI_RPC: ${{ secrets.GOERLI_RPC }}
  POLYGON_MUMBAI_RPC: ${{ secrets.POLYGON_MUMBAI_RPC }}

jobs:
  tests:
    name: Build and Tests
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install forge dependencies
        run: forge install

      - name: Set Node.js 16.x
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Run yarn install
        uses: borales/actions-yarn@v4
        with:
          cmd: install

      - name: Build bundle
        uses: borales/actions-yarn@v4
        with:
          cmd: build
        env:
          SOCKET_SIGNER_KEY: "562ed26cb2e52dbdf8cfbec91cd5370f236a997e54ebc1c1fb34d3237d4795f8"

      - name: Check contract sizes
        run: forge build --sizes

      - name: Run tests
        run: forge test
