name: Tests

on: [push, pull_request]

env:
  FOUNDRY_PROFILE: prod
  OPTIMISM_GOERLI_RPC: ${{ secrets.OPTIMISM_GOERLI_RPC }}
  GOERLI_RPC: ${{ secrets.GOERLI_RPC }}
  POLYGON_MUMBAI_RPC: ${{ secrets.POLYGON_MUMBAI_RPC }}

jobs:
  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Install Foundry
        uses: onbjerg/foundry-toolchain@v1
        with:
          version: nightly

      - name: Install dependencies
        run: forge install

      - name: Check contract sizes
        run: forge build --sizes

      - name: Run tests and check gas snapshots
        run: forge snapshot --check
